<div class="mdui-card mdui-hoverable mdui-m-y-3">
<div class="mdui-card-primary">
<div class="mdui-card-primary-title"><a id="title" class="mdui-text-color-theme-accent" href="{:page.link}">{:pa ge.title}</a></div>
<div class="mdui-card-primary-subtitle mdui-text-color-theme-text"><i id="subtitle-icon" class="mdui-icon material-icons">people</i>{:page.author}<span>|</span><i id="subtitle-icon" class="mdui-icon material-icons">playlist_add</i>{:page.create_time}<span>|</span><i id="subtitle-icon" class="mdui-icon material-icons">create</i>{:page.modify_time}</div>
</div>
<div class="mdui-card-content mdui-typo">{:page.content}</div>
</div>
